[submodule "dotbot"]
	path = meta/dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "dotbot_plugin_aptget"]
	path = meta/dotbot_plugin_aptget
	url = https://github.com/dein0s/dotbot_plugin_aptget.git
